<div class="container">
  <header class="header">
    <div class="header-logo">
      <p class="headerText">DAISYholiday</p>
    </div>
    <div>
      <input type="button" value="LOGIN" onclick="login()" class="btnlogin">
      <input type="button" value="REGISTER" onclick="register()" class="btnregister">
    </div>
  </header>

  <aside class="left-sidebar">
    <div>
      <p class="kidsclub"><strong>Daisy</strong>kidsclub Events</p>
    </div>
    <div class="colorfest">
      <p class="date">Saturday - 19 APRIL</p>
      <p class="eventName">Color Festival</p>
    </div>
  </aside>

  <main class="blog-detail">
    <div class="blog-img"></div>
    <div class="paragraph-1">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti in alias
      <br>vitae repellendus pariatur quibusdam explicabo! Aliquam, perspiciatis!
      <br>Rem officiis nam temporibus sint cupiditate labore expedita quae praesentium blanditiis illum!</p>
    </div>
    <div class="paragraph-2_3">
      <p>Etiam et semper libero, eu tincidunt dui. Nam sed congue dolor. Morbi imperdiet mollis metus, vitae tempor
      <br>ex pretium sit amet. Sed turpis lectus, rutrum nec egestas ut, consequat id metus. Donec ex enim,
      <br>ultrices eget pharetra at, sodales at augue. Donec condimentum neque a arcu pretium laoreet.
      <br>Curabitur vel orci purus. Donec sit amet facilisis nibh, eu maximus metus. Sed vestibulum facilisis
      <br>lacus, venenatis ultricies enim venenatis eget.</p>
      <p>Vestibulum sem purus, lobortis nec interdum vestibulum, varius rhoncus nisl. Vestibulum iaculis fringilla ullamcorper.
      <br>Fusce pellentesque ornare massa id molestie.
      <br>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      <br>ac turpis egestas. Nam vestibulum augue sit amet placerat interdum</p>
      <p>Nulla feugiat nibh magna, ut lobortis dui placerat in. Proin placerat lacus sit amet semper aliquam.
      <br>Curabitur tincidunt orci in ante sollicitudin dictum. Cras a eros purus. Cras ullamcorper mauris
      <br>consequat, iaculis velit et, euismod eros.Aenean eget varius mauris. Cras nec nulla mi. Nam ullamcorper,
      <br>dolor sed dictum cursus, quam mauris consequat nibh, non convallis magna ex eget turpis.
      </p>
    </div>
  </main>

  <aside class="right-sidebar">
    <div class="icon-add"><a href="add.event"><img
      src="https://cdn3.iconfinder.com/data/icons/glypho-generic-icons/64/plus-big-circle-512.png"
      alt="add, big, circle, new, plus icon" width="50" ; height="50"></a>
      <label class="add">ADD EVENT</label>
    </div> <!--add a label to th button-img instead-->
    <div class="icon-about"><a href=""><img
      src="https://www.vippng.com/png/full/96-963744_download-free-png-mark-2-number-in-circle.png"
      alt="Transparent question mark icon png transparent - Download Free Png Mark - 2 Number In Circle "
      width="40" height="40"></a>
      <label class="about">More about<strong>&nbsp;kidsclub</strong></label> 
    </div> <!--add a label to th button-img instead-->
    <div class="where">Where?</div>
    <label class="directions"><a href="#directions"><font color="black">Maties Roundabout,<br> Stellenbosch</font></a></label>
    </div>
  </aside>

  <footer class="footer">
    <div class="left-footer">
      <p class="more">More info</p>
      <br>
      <p class="website">
        <font color="black">Website: <br></font><a href="awesome.com">awesome.com</a>
      </p>
      <br>
      <p class="phone">Telephone: <br> 021 445 6567</p>
      <br>
      <p class="email">Email: <br><a href="mailto:hello@awesome.com">
        hello@awesome.com</a>
      </p>
    </div>
    <div class="right-footer">
      <p class="cost">Cost <br>R120pp</p>
      <br>
      <p class="tickets">Tickets<br><a href="tickets.com">tickets.com</a></p>
    </div>
  </footer>

</div>
