/*@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;
*/
$header-blue: #3A5FCD;
$header-white: #FEFFF1;
$orange: #EE4000;

/**/
@mixin grid-area-header {
    display: grid;
    grid-area: header;
}
@mixin gridBtns-header {
    display: inline-grid;
    margin-top: 55px;
    margin-right: 5px;
    color: $header-white;
    font-size: 20px;
}
@mixin display-sidebars {
    display: grid;
    width: 500px;
    height: 100px;
    justify-content: center;
}
@mixin font-sidebars {
    font-size: 30px;
    font-weight: 800;
}
@mixin icon-display {
    vertical-align: middle;
    font-size: 25px;
}
@mixin paragraph-align {
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 18px;
}
@mixin font-footer {
    font-weight: 650;
}

/**/
.container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    height: 100%;
    grid-template-areas: "header header header"
                          "left . right"
                          "main main main"
                          "footer footer footer";
    grid-template-rows: 125px 300px 900px 200px;
    grid-template-columns: 3fr 2fr 3fr;
}
.header{
    @include grid-area-header;
    background: $header-blue;
    color: $header-white;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.headerText{
    display: inline-grid;
    margin-top: 25px;
    margin-left: 3em;
    font-size: 30px;
    font-weight: bolder;
    justify-content: center;
    align-content: center;
}        
.header-logo{
    display: inline-grid;
    background-image: url("https://cdn.clipart.email/2b87b397128f337717d56b91d8a63601_yellow-daisy-clip-art-icon-and-svg-svg-clipart_640-480.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 6em;
}
.btnlogin{
    @include gridBtns-header;
    background-color: $header-blue;
}
.btnregister{
    @include gridBtns-header;
    background-color: $orange;
}

/**/
.left-sidebar{
    @include display-sidebars;
    grid-area: left;
    text-align: start;
}
.kidsclub{
    font-size: 35px;
}
.date{
    @include font-sidebars;
    color: $orange;
}
.eventName{
    @include font-sidebars;
    color: #555555;
    font-size: 30px;
}
/**/
.blog-detail{
    display: grid;
    grid-area: main;
}
.blog-img{
    display: grid;
    background-image: url("https://www.eventsandfestivalsblog.com/blog-data/uploads/2017/08/Festival-of-Colors-for-Kids-e1501818880793.jpg");
    background-repeat: no-repeat;
    width: 900px;
    height: 500px;
    justify-content: center;
    justify-self: center;

}
/**/

.right-sidebar{
   display: inline-grid;
    grid-area: right;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 800px;
}
.icon-add{
    margin-top: 28px;
}
.add{
    @include icon-display;
}
.icon-about{
    margin-top: 30px;
}
.about {
    @include icon-display;
}
.where {
    display: grid;
    color: $orange;
    @include font-sidebars;
    align-items: start;
    margin-top: 40px;
}
.directions{
    display: grid;
    grid-row: 3;
    grid-column: 1/3;
    font-size: 20px;
}
.paragraph-1{
    margin-left: 370px;
    font-weight: bolder;
    margin-top: 50px;
}
.paragraph-2_3{
    @include paragraph-align;
}

/**/
.footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 4rem;
}
.more{
    @include font-sidebars;
    color: $orange;
}
.left-footer{
    display: grid;
    text-align: justify;
    margin-left: 4em;
    font-size: 20px;
    padding: 1em;
}
.website, .phone, .email, .cost, .tickets{
    @include font-footer;
}
.right-footer{
    display: grid;
    width: 100px;
    text-align: justify;
    margin-top: 20px;
    font-size: 20px;
    padding: 6em;
}
